In [ ]:
a, b, c = "good", "morning", 18
print(a, b, c)

good morning 18

In [ ]:
# Hi, Good morning, I'm sagar, i'm studying BCA in BK college at chikodi, my roll number is 101

Name, College, Degree, Roll= "sagar", "BK", "BCA", 101
print("Hi, Good morning, I'm", Name, "i'm studying", Degree, "in", College, "at chikodi, my roll number is", Roll)

Hi, Good morning, I'm sagar i'm studying BCA in BK at chikodi, my roll number is 101

In [ ]:
A = 10
print(type(A))

<class 'int'>

In [ ]:
x = 35
print(type(x))

<class 'int'>

In [ ]:
a = b, c = "College", 25
print(b, c, a)

College 25 ('College', 25)

In [ ]:
x = y = z = 1001
print(x,y,z)

1001 1001 1001

In [ ]:
# Addition of 10 and 20 is 30
A = 10
B = 20

print("Addition of",A,"and",B,"is 30")

Addition of 10 and 20 is 30

In [ ]:
x = -100
print(type(x))

<class 'int'>

In [ ]:
system = +200
print(type(system))

<class 'int'>

In [ ]:
number = 10001
print(type(number))

<class 'int'>

In [ ]:
list = [101]
print(type(list))
print(list.append("basavaraj"))

<class 'list'>
None

In [ ]:
Details = [101]
print(Details)
print(type(Details))

Details.append(85.12)
print(Details)

Details.append(True)
print(Details)

print(len(Details))
print(Details.pop())
print(Details)
Details.append("sagar")
print(Details)

Details.append(-99)
print(len(Details))

print(Details[2])
print(Details[3])
Details.append("BK college")
print(Details)
Details[3] = 99
print(Details)
print(Details[2:4])
Details.insert(2,False)
print(Details)
print(len(Details))
Details.remove(False)
print(Details)
print(len(Details))
print(Details[4])
print(Details[::-1])
print(Details.count(101))
print(Details.clear())
print(Details)
print(type(Details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'sagar']
4
sagar
-99
[101, 85.12, 'sagar', -99, 'BK college']
[101, 85.12, 'sagar', 99, 'BK college']
['sagar', 99]
[101, 85.12, False, 'sagar', 99, 'BK college']
6
[101, 85.12, 'sagar', 99, 'BK college']
5
BK college
['BK college', 99, 'sagar', 85.12, 101]
1
None
[]
<class 'list'>
[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'sagar']
4
sagar
-99
[101, 85.12, 'sagar', -99, 'BK college']
[101, 85.12, 'sagar', 99, 'BK college']
['sagar', 99]
[101, 85.12, False, 'sagar', 99, 'BK college']
6
[101, 85.12, 'sagar', 99, 'BK college']
5
BK college
['BK college', 99, 'sagar', 85.12, 101]
1
None
[]
<class 'list'>