In [ ]:
# Adress = 2010

print(3+3)

6

In [ ]:
example=(1,"sharath",3.12,False,1)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[4])
print(example[-1])

(1, 'sharath', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'sharath', 3.12)
1
1

Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)

print((Add * 4))

In [ ]:
example = {1,1,2,3,3,4,5}
print(example)
print(type(example))
print(len(example))
example.add(10)
print(example)
example.add("BKC")
print(example)
example = {1,2,2,3,4,4,5,6,7}
print(example)
#print(type(example))
print(len(example))
example.add("BKC")
print(example)
example.add(33.14)
print(example)
example.add("True")
print(example)
example.remove("True")
print(example)
print(example.pop())
print(example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{'BKC', 1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 6, 7}
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 33.14, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 33.14, 'BKC', 'True'}
{1, 2, 3, 4, 5, 6, 7, 33.14, 'BKC'}
1
{2, 3, 4, 5, 6, 7, 33.14, 'BKC'}

In [ ]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print( first | second)
print(first.union(second))

print(first & second)
print(first.intersection(second))
print(first.difference(second))
print(second - first)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{5, 6}

In [ ]:
from collections.abc import MutableMapping
Dic = {"roll_number" : 201,
       "Name" : "Basavaraj",
       "Adress" : "Raichur",
       "CGPA" : 7.53,
       "course" : "MCA",
       "Year" : 2022
       }
print(Dic)
print(len(Dic))
Dic["Gender"] = "Male"
print(Dic)
Dic["Number"] = 9898989898
print(Dic)
Dic["college"] = "BKC"
print(Dic)
Dic["college"] = "sainiketan"
print(Dic)
del Dic["Gender"]
print(Dic)
Dic["Gender"] = "Male"
print(Dic)
print(Dic["college"])
Dic["Age"]=25
print(Dic["Age"])
Dic.pop("Adress")
print(Dic)
Dic.popitem()
print(Dic)
print(Dic.keys())
print(Dic.values())
print(Dic.items())
print(Dic.clear())

{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022}
6
{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Gender': 'Male'}
{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Gender': 'Male', 'Number': 9898989898}
{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Gender': 'Male', 'Number': 9898989898, 'college': 'BKC'}
{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Gender': 'Male', 'Number': 9898989898, 'college': 'sainiketan'}
{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Number': 9898989898, 'college': 'sainiketan'}
{'roll_number': 201, 'Name': 'Basavaraj', 'Adress': 'Raichur', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Number': 9898989898, 'college': 'sainiketan', 'Gender': 'Male'}
sainiketan
25
{'roll_number': 201, 'Name': 'Basavaraj', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Number': 9898989898, 'college': 'sainiketan', 'Gender': 'Male', 'Age': 25}
{'roll_number': 201, 'Name': 'Basavaraj', 'CGPA': 7.53, 'course': 'MCA', 'Year': 2022, 'Number': 9898989898, 'college': 'sainiketan', 'Gender': 'Male'}
dict_keys(['roll_number', 'Name', 'CGPA', 'course', 'Year', 'Number', 'college', 'Gender'])
dict_values([201, 'Basavaraj', 7.53, 'MCA', 2022, 9898989898, 'sainiketan', 'Male'])
dict_items([('roll_number', 201), ('Name', 'Basavaraj'), ('CGPA', 7.53), ('course', 'MCA'), ('Year', 2022), ('Number', 9898989898), ('college', 'sainiketan'), ('Gender', 'Male')])
None

from collections.abc import MutableMapping
Dic = {"roll_number" : 145,
       "Name" : "Sagar",
       "Adress" : "Athani",
       "CGPA" : 45.12,
       "course" : "MCA",
       "Year" : 2027
       }
print(Dic)
print(len(Dic))
Dic["Gender"] = "Male"
print(Dic)
Dic["Number"] = 9741298445
print(Dic)
Dic["college"] = "HVH"
print(Dic)
Dic["college"] = "sainiketan"
print(Dic)
del Dic["Gender"]
print(Dic)
Dic["Gender"] = "Male"
print(Dic)
print(Dic["college"])
Dic["Age"]=18
print(Dic["Age"])
Dic.pop("Adress")
print(Dic)
Dic.popitem()
print(Dic)
print(Dic.keys())
print(Dic.values())
print(Dic.items())
print(Dic.clear())

In [ ]:
Employe = {"Employe_id":1001,
           "Employe_Name":"Sagar",
           "contact_number":9741298445,
           "Salary":300000,
           "Email_id":"sagarkagawad@gmail.com",
           "company":"Google",
           "Employe_habbit":"gamming",
           }
print(Employe)
Employe["Country"] = "India",
print(Employe)
Employe["Pin_code"] = 591304
print(Employe)
print(type(Employe))
print(len(Employe))
print(Employe["Salary"])
Employe.pop("Email_id")
Employe["Department"]="Developer"
print(Employe)
print(len(Employe))
Employe["Department"] = "Testing"
print(Employe)
print(Employe.popitem())

{'Employe_id': 1001, 'Employe_Name': 'Sagar', 'contact_number': 9741298445, 'Salary': 300000, 'Email_id': 'sagarkagawad@gmail.com', 'company': 'Google', 'Employe_habbit': 'gamming'}
{'Employe_id': 1001, 'Employe_Name': 'Sagar', 'contact_number': 9741298445, 'Salary': 300000, 'Email_id': 'sagarkagawad@gmail.com', 'company': 'Google', 'Employe_habbit': 'gamming', 'Country': ('India',)}
{'Employe_id': 1001, 'Employe_Name': 'Sagar', 'contact_number': 9741298445, 'Salary': 300000, 'Email_id': 'sagarkagawad@gmail.com', 'company': 'Google', 'Employe_habbit': 'gamming', 'Country': ('India',), 'Pin_code': 591304}
<class 'dict'>
9
300000
{'Employe_id': 1001, 'Employe_Name': 'Sagar', 'contact_number': 9741298445, 'Salary': 300000, 'company': 'Google', 'Employe_habbit': 'gamming', 'Country': ('India',), 'Pin_code': 591304, 'Department': 'Developer'}
9
{'Employe_id': 1001, 'Employe_Name': 'Sagar', 'contact_number': 9741298445, 'Salary': 300000, 'company': 'Google', 'Employe_habbit': 'gamming', 'Country': ('India',), 'Pin_code': 591304, 'Department': 'Testing'}
('Department', 'Testing')

In [ ]:
Name = { " Name" : "Sagar",
         "name" : "Sagar",
         "F_name" : "Sagar",
         "L_name" : "Sagar",
         }
print(Name)

{' Name': 'Sagar', 'name': 'Sagar', 'F_name': 'Sagar', 'L_name': 'Sagar'}

In [ ]:
a=10
b=3
c=a/b
print(type(a))
print(type(b))
print(a/b)
print(type(c))
print(type(a / b))

<class 'int'>
<class 'int'>
3.3333333333333335
<class 'float'>
<class 'float'>

In [ ]:
a,b,c = 2.5,3.5,a+b
print(a+b)
print(type(a))
print(type(b))
print(type(c))

6.0
<class 'float'>
<class 'float'>
<class 'float'>

In [152]:
#
i = 20
j = 5.5
k = i+j
print(type(k))

<class 'float'>

In [153]:
# int -> float
a = 49
b = 7
print(type(a / b))

<class 'float'>

In [155]:
i = True
j = 5
print(type(i))
print(type(i+j))

<class 'bool'>
<class 'int'>

In [159]:
M = 2.9
N = False
O = M - N
print(type(O))

P = True
Q = False
R = P + Q
print(type(R))

S = 2.6
T = False
print(type(S * T))

<class 'float'>
<class 'int'>
<class 'float'>

In [180]:
num = 3.12
print(type(num))
add = int(num)
print(type(add))
num = float(add)
print(type(num))

Num = "101"
print(type(Num))
add = int(Num)
print(type(add))

Demo = 9.99
print(type(Demo))

print(type(str(Demo)))

Demo = False
print(type(Demo))

print(type(float(Demo))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [183]:
Num1 = "Basavaraj"
print(type(Num1))

Ex1 = list(Num1)
print(type(Ex1))

<class 'str'>
<class 'list'>

In [185]:
a = (10,20)
print(type(list(a)))

<class 'list'>

In [191]:
a = (1,2,3,4,5)
print(type(list(a)))

<class 'list'>

In [187]:
a = (1,2)
print(type(list(a)))

<class 'list'>

In [188]:
a = (1,2)
print(type(tuple(a)))

a = (10)

<class 'tuple'>

In [189]:
a = (10,20)
print(type(tuple(a)))

<class 'tuple'>

In [210]:

print("a = 20 , b = 10")

a = 20 , b = 10

In [214]:
Num3 = (("Name","Sagar"),("Age",25))
print(type(Num3))

<class 'tuple'>

In [216]:
Num4 = {("Roll_number",501),("Section","c")}
print(type(Num4))

<class 'set'>

In [217]:
Ex4 = dict(Num4)
print(type(Ex4))

<class 'dict'>

In [226]:
A = 10,
B = 20
print("Before Swaping")
print("A = ",A,"B = ",B)
print("After Swaping")
temp = A
A = B
B = temp
print("A = ",A,"B = ",B)

Before Swaping
A =  (10,) B =  20
After Swaping
A =  20 B =  (10,)