In [ ]:
a, b, c = 25,35,40
if a > b :
   if a > c :
       print("A is a largest number")
   else :
       print("C is a largest number")
else :
    if b > c :
       print("B is a largest number")
    else :
       print("C is a largest number")

C is a largest number

In [ ]:
num = -5
if num > 0 :
   if num == 0 :
     print("Zero value")
   else :
     print("Positive number")
else :
     print("Negative number")

Negative number

In [ ]:
num = int(input("Enter number value is :"))
if num >= 0 :
   if num == 0 :
     print("Zero value")
   else :
     print("Positive number")
else :
     print("Negative number")

Enter number value is :0
Zero value

In [ ]:
# write a programe arithmatic operator using switch statement
x, y = 10, 20
option = input("Enter your choice option :")
match option :
    case '+' :
      print("Sum of values", x + y)
    case '-' :
      print("Subtraction of values", x-y)
    case '*' :
      print("Multiplication of values",x*y)
    case '/' :
      print("Division of values", x / y)
    case '%' :
      print("Modulus of values", x % y)
    case '!=' :
      print("x is not equal to y", x != y)
    case _ :
      print("Invalid operator")

Enter your choice option :!=
x is not equal to y True

In [ ]:
day = int(input("Enter a day number :"))
match day :
    case 1 : print("monday")
    case 2 : print("tuesday")
    case 3 : print("wednesday")
    case 4 : print("thursday")
    case 5 : print("friday")
    case 6 : print("saturday")
    case 7 : print("sunday")
    case _ : print("holiday")

Enter a day number :5
friday

In [ ]:
month = int(input("Enter a month number :"))
match month :
    case 1 : print("jan")
    case 2 : print("feb")
    case 3 : print("mar")
    case 4 : print("apr")
    case 5 : print("may")
    case 6 : print("jun")
    case 7 : print("jul")
    case 8 : print("aug")
    case 9 : print("sep")
    case 10 : print("oct")
    case 11 : print("nov")
    case 12 : print("dec")
    case _ : print("invalid number")

Enter a month number :9
sep

In [ ]:
num = 1
while num <= 60 :
     print(num,end= " " )
     num += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
# write a program sum of n natural numbers
i = 1
add = 0
while i<=10 :
    add = add + i
    i = i + 1
print("sum of natural number is :", add)

sum of natural number is : 55

In [ ]:
num = 5
i = 1
while i<=10 :
  print("5 *",i,"=",num*i)
  i = i + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num = 234
rem = 0
sum = 0
temp = num
while num > 0 :
     rem = num % 10
     sum = sum + rem * 3
     num = num // 10
if temp == sum :
    print("armstrong number")
else:
    print("not armstrong number")

not armstrong number

In [ ]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
    rem = num % 10
    rev = rev * 10 + rem
    num = num // 10
print("reverse number is :", rev)

reverse number is : 54321

In [ ]:
# Polindrom or not
num = 12321
rem = 0
rev = 0
temp = num
while num > 0 :
     rem = num % 10
     rev = rev * 10 + rem

In [ ]:
# print even number between 1 to 100
i = 2
while i <= 100 :
    print(i,end = " " )
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# print odd number between 1 to 100
i = 1
while i <= 100 :
    print(i,end = " " )
    i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b = 10, 0, 1
i = 0
while i <= num :
    print(a, end = " ")
    a, b = b, a+b
    i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = int(input("Enter a number value :"))
count = 0
i = 1
while i <= num :
    if num % i == 0:
       count+=1
    i+=1
if count == 2 :
    print("prime number")
else:
    print("not prime number")

Enter a number value :7
prime number

In [ ]:
num = 10
i = 0
while num >= i :
     print(num, end=" ")
     num-=1

10 9 8 7 6 5 4 3 2 1 0

In [ ]:
i = 10
while i <= 1280 :
     print(i,end=" ")
     i*=2

10 20 40 80 160 320 640 1280

In [142]:
colours = ['blue','red','pink','black']
print(type(colours))

for i in colours :
      print(i)

<class 'list'>
blue
red
pink
black

In [143]:
numbers = {1,2,3,4,5,6,7,8,9}
for i in numbers :
    print(i)

1
2
3
4
5
6
7
8
9

In [145]:
Name = "KLE BK BCA College in Chikodi"
rev = ""
for i in Name :
    rev = i + rev
print(rev)

idokihC ni egelloC ACB KB ELK

In [149]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [152]:
i = 1
add = 0
while i<=10 :
    add = add + i
    i = i + 1
print("sum of natural number is :", add)

sum of natural number is : 55

In [177]:
sum = 0
for i in range(1,11):
    sum+=i
print("sum of N natural numbers is", sum)

sum of N natural numbers is 55

In [165]:
i=1
num=4
for i in range(1,11):
  print("4 *",i,"=",num*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [170]:
for i in range(2, 101, 2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [180]:
fact = 1
for i in range(1,6):
    fact = fact * i
print("Factorial number is :",fact)

Factorial number is : 120

In [185]:
# fiboncacci series / number using for loop
# 0 1 1 2 3 5 8 13 21 34 55 89 144
a, b = 0, 1
for i in range(1,14):
    print(a,end=" ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144