In [ ]:
# kle bk bca clg chikodi
word = input("vowels in the sentence")

vowels = "aeiouAEIOU"
found = []

for char in word:
  if char in vowels:
     found.append(char)
print("vowels in the word:", found)

vowels in the sentencekle bk bca clg chikodi
vowels in the word: ['e', 'a', 'i', 'o', 'i']

In [ ]:
sentence = "python programming language"
count = 0
for ch in sentence :
   if ch in "aeiou" :
      count +=1
print("total vowels is :",count)

total vowels is : 8

In [ ]:
base = 4
height = 5
triangle = 0.5 * base * height
print("area of triangle is :",triangle)

area of triangle is : 10.0

In [ ]:
red = 4
area = 3.14 * red **2
print("area of circle is :",area)

area of circle is : 50.24

In [ ]:
ex = [5,25,35,28,45,10,15]
largest_number = ex[0]
for num in ex:
    if num > largest_number:
        largest_number = num
print("The largest number in the list is:", largest_number)

The largest number in the list is: 45

In [ ]:
sentens = "Bachelor of computer science first semester section c"
count = 0
vowels = "aeiouAEIOU"
for ch in sentens:
    if ch.isalpha() and ch not in vowels:
        count += 1
print("Total consonants is:", count)

Total consonants is: 29

In [ ]:
bikes = ["RX 100", "GT 650","Ninja","Splender","Bajaj","Pulsar","NS 200","M 80","Unicorn"]
for bike in bikes:
    if bike == "NS 200" :
      break
    print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulsar

In [ ]:
colours = {"Purple","Pink","Black","white","Red","Orange","Levender","Grey","Yellow","Maroon"}
for color in colours :
    if color == "Black" :
       break
    print(color)

white
Levender
Red
Yellow
Orange
Maroon

In [ ]:
fruits = ("Apple","Orange","Mango","Strawberry","Dragon fruit","Greeps","Banana","pinapal","pappaya","Water melon")
for fruits in fruits :
    if fruits == "Greeps" :
       continue
    print(fruits)

Apple
Orange
Mango
Strawberry
Dragon fruit
Banana
pinapal
pappaya
Water melon

In [ ]:
mobiles = {"vivo","RedMI","OPPO","vivo","vivo","vivo","OPPO","IQee","vivo","1 plus"}
for mobile in mobiles :
    if mobile == "vivo" :
       continue
    print(mobile)

IQee
1 plus
OPPO
RedMI

In [ ]:
Movies = ["KGF","Chhava","Bahubali","Saiyara","RRR","Kalki","kannadakagi onendonnu otti"]
for Movie in Movies :
    if Movie == "RRR" :
      break
    print(Movie)

KGF
Chhava
Bahubali
Saiyara

In [ ]:
things = {"Mobile","Laptop","Monitor","tab","Book","pen","Paper"}
for thing in things :
   if thing == "Mobile" :
      continue
   print(thing)

tab
Paper
Monitor
Laptop
Book
pen

In [ ]:
for i in range(10) :
  for j in range(10):
    print(i,end=" ")
  print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [ ]:
for i in range(1,11) :
  for j in range(j ):
    print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [48]:
for i in range(5) :
  for j in range(i+1,5):
    print(" ",end=" ")
  for j in range(5):
    print("ğŸ’€",end=" ")
  print()

        ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€
      ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€
    ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€
  ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€
ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€

In [64]:
row = 10
col = 10
for i in range(0,row):
  for j in range(0,col):
    if i == 0 or i == row-1 or j == 0 or j == col-1:
      print("ğŸ’€",end=" ")
    else:
      print(" *",end=" ")
  print()

ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€  *  *  *  *  *  *  *  * ğŸ’€
ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€ ğŸ’€

In [67]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
      print(" ",end=" ")
  for j in range(0,i*2+1):
      print("â­",end=" ")
  print()

            â­
          â­ â­ â­
        â­ â­ â­ â­ â­
      â­ â­ â­ â­ â­ â­ â­
    â­ â­ â­ â­ â­ â­ â­ â­ â­
  â­ â­ â­ â­ â­ â­ â­ â­ â­ â­ â­
â­ â­ â­ â­ â­ â­ â­ â­ â­ â­ â­ â­ â­

In [68]:
def Example():
  print("Good Afternoon")
Example()

Good Afternoon

In [77]:
def fun(num):
   return num*num
fun(4)

16

In [78]:
def add(a,b):
    print(f'Addition of two numbers is {a+b}')
add(5,10)

Addition of two numbers is 15

In [81]:
def Example(roll_number,name,section,department,college):
    print(f"My name is {name},i'm studying {department},in{college},college.My roll_number is {roll_number} and section is {section}")
Example(101,"Basavaraj",'A',"BCA","KLE")

My name is Basavaraj,i'm studying BCA,inKLE,college.My roll_number is 101 and section is A

In [84]:
def fun(name,game,time):
    print(f"I'm {name}; i'm playing {game} at {time} time")
fun(time = "Evening",name = "Sagar",game = "Cricket")

I'm Sagar; i'm playing Cricket at Evening time

In [85]:
def Laptop(name = "Lenova"):
    print("My laptop name is :",name )
Laptop("Dell")
Laptop("HP")
Laptop()
Laptop("Asus")

My laptop name is : Dell
My laptop name is : HP
My laptop name is : Lenova
My laptop name is : Asus